---
import { getCollection } from "astro:content";
import { get, uniq, flatMap, map } from "lodash-es";

const { category } = Astro.props as { category?: string };

const allPosts = await getCollection("blog");
const categories = uniq(flatMap(allPosts, (post) => get(post, ["data", "categories"], [])));
---

<div class="categories">
  <a class={`category ${category === "all" ? "active" : ""}`} href={`/blog`}> All</a>

  {
    map(categories, (categoryItem) => (
      <a
        class={`category ${categoryItem === category ? "active" : ""}`}
        href={`/blog/${categoryItem}`}
      >
        {categoryItem}
      </a>
    ))
  }
</div>

<style>
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid currentColor;

    @media screen and (min-width: 769px) {
      gap: 16px;
      justify-content: flex-start;
    }
  }

  .category {
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 16px;

    &:hover {
      color: var(--secondary);
    }

    &.active {
      font-weight: bolder;
    }

    @media screen and (min-width: 769px) {
      font-size: 24px;
    }
  }
</style>
