---
import { SITE_TITLE } from "../../consts.js";
import SearchLink from "../inputs/SearchLink.astro";
import { Menu } from "../../blocks/header/Menu.tsx";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("toggle-reading-mode", (e) => {
      document.getElementById("header")?.classList.toggle("hidden");
    });
  });
</script>

<div class="center-container">
  <header class="header" id="header">
    <div class="header-links">
      <div class="links">
        <a class="link" href="/about">About</a>
        <a class="link" href="/gallery">Gallery</a>
        <a class="link" href="https://ollama-quiz.tihomir-selak.from.hr/">Quizes</a>
        <a class="link" href="https://puzzles.tihomir-selak.from.hr">Puzzles</a>
      </div>
      <div class="menus">
        <SearchLink />
        <div class="menu-side">
          <div class="translate-element" id="translate-element"></div>
          <Menu client:only />
        </div>
      </div>
    </div>
    <div class="logo-ctontainer">
      <a href="/" title={SITE_TITLE} class="logo">{SITE_TITLE}</a>
    </div>
  </header>
</div>

<style>
  .header {
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }

  .header-links {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menus {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .menu-side {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .translate-element {
    div:first-child {
      width: 145px;
      height: 25px;
      overflow: hidden;
    }

    select {
      height: 100%;
      margin: 0;
    }
  }

  .links {
    display: none;
    gap: 8px;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
  }

  .logo-ctontainer {
    border-top: 1px solid currentColor;
    border-bottom: 3px solid currentColor;
    text-align: center;
    width: 100%;
    font-size: 48px;
    line-height: 1;
    padding: 8px 0;
  }

  .logo {
    color: var(--text-color);
    font-weight: bolder;

    &:hover {
      color: inherit;
    }
  }
  @media (min-width: 769px) {
    .header {
      padding: 20px 0;
    }
  }
</style>
