---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="feature-image">
    <img src="/images/pages/kobilica-times.png" title="Kobilica Times" />
    <div>Kobilica Times</div>
  </div>
  <p>
    Welcome to Kobilica Times, the quintessential destination for those who savor a blend of humor
    with a twist of truth. Here, satire isn't just a genre; it's a lens through which we view the
    world. Our portal, buzzing with laughter and intellect, offers an eclectic mix of content
    ranging from art to science, from history to the mysteries of the modern world. We delve into a
    multitude of topics, ensuring there's always something to tickle your fancy and ignite your
    curiosity.
  </p>
  <h3 class="title">A Symphony of AI and Human Wit</h3>
  <p>
    At the heart of Kobilica Times is an innovative fusion of artificial intelligence and human
    creativity. Kobilica, our parent company, isn't just adept at web programming; it's a maestro of
    making ideas come to life. Whether it's generating witty text, crafting visually stunning
    images, or producing captivating videos, Kobilica's AI technology adds a unique flavor to our
    content. This synergy of technology and human touch is what makes Kobilica Times stand out in
    the ocean of digital media.
  </p>
  <h3 class="title">More Than Just Laughs</h3>
  <p>
    Beyond the chuckles and grins, each piece on Kobilica Times carries a deeper message. Our
    stories are designed not only to entertain but also to provoke thought and, occasionally, offer
    a moral compass in a world spinning with information. Kobilica Times is more than a satirical
    news portal; it's a reflection of our society, a commentary on our times, and a nod to the
    endless possibilities when technology meets creativity. As a branch of Kobilica, we embody the
    company's commitment to innovation and excellence, extending its reach from web and application
    development to the dynamic realm of digital storytelling.
  </p>
  <div class="feature-image">
    <img src="/images/pages/kobilica-comp.png" title="Kobilica Corp" />
    <div>Kobilica Corp</div>
  </div>
  <h3 class="title">Kobilica - Digital Solutions</h3>
  <p>
    In a world where digital boundaries are constantly blurring, our prowess extends beyond the web.
    Our team excels in developing both desktop and mobile applications, ensuring that your digital
    footprint is robust and versatile. Whether it's a cutting-edge mobile app that connects you with
    users on the go or a powerful desktop application that enhances productivity, Kobilica is
    equipped to deliver. We combine intuitive design with seamless functionality, creating
    applications that are not only visually appealing but also rich in user experience.
  </p>
  <h3 class="title">Tailored Solutions for Every Needy</h3>
  <p>
    Understanding that each project is unique, we don't believe in a one-size-fits-all approach. Our
    process involves close collaboration with our clients, understanding their specific needs and
    challenges. This client-centric approach allows us to tailor our services, whether it's web
    development, app creation, or custom programming, to align perfectly with your objectives. At
    Kobilica, we're more than just a service provider; we're your partner in the digital world,
    committed to propelling your vision into a digital reality.
  </p>
  <p>
    Visit us at <a class="link" href="https://kobilica.hr">kobilica.hr</a> for a glimpse of our capabilities.
  </p>
</Layout>

<style>
  .title {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 8px;
  }

  .feature-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    gap: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    img {
      height: 250px;
      object-fit: cover;
      box-shadow: var(--box-shadow);

      @media screen and (min-width: 768px) {
        height: 400px;
      }
    }
  }

  .link {
    display: inline-block;
    margin: 0 8px;
    font-weight: bold;
  }
</style>
